# Dependencies
node_modules
**/*/node_modules

# coverage
*/**/coverage
*/**/coverageEnv
*/**/coverage.json
*/**/allFiredEvents
*/**/scTopics
**/**/artifact.json

# lerna
lerna-debug.log

# lock files
**/**/yarn.lock
**/**/package-lock.json

# truffle build artifacts
arapp_local.json
*/**/abi
*/**/build
*/**/abis.json
*/**/flattened_contracts
